
@import "//fonts.fontstorage.com/import/fregat.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font-family: 'Arian AMU' !important;
}

 ul{
	list-style-image:url(https://img.icons8.com/ios/50/000000/checkmark-filled.png);
}

.main-page
{
	width: 100%;
	height: 100%;
	background: #1f9dca ;

}
.title
{
	color: white;
	font-size: 100px;
}

.descriptor
{
	font-family: 'Fregat';
	font-weight: 400;
	text-align: center;
	font-size: 40px;
	color: white;
	height: 100%;
	vertical-align: middle;
	display:flex;
	justify-content:center;
	align-items:flex-end;
	position: absolute;
	width: 300px;
	left:50%;
	margin-left: -150px;
	margin-top: -20px;
	z-index: 1000;




}

.descriptor-text
{
	font-size: 20px;

}
.main-page-right , .main-page-left
{
	font-family: 'Fregat';
	font-weight: 400;
	text-align: center;
	font-size: 50px;
	color: white;
	height: 100%;
	vertical-align: middle;
	display:flex;
	justify-content:center;
	align-items:center;


-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.main-page-right:hover, .main-page-left:hover
{
	background: #421fca57; 
	cursor: pointer;


 

-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
